{% extends "stack_underflow/base.html" %}
{% load staticfiles %}

{% block body_block %}
<div class="text-center mb-4">
    <img class="mt-4" src="{% static 'images/logo.jpg' %}" alt="" width="300" height="120">
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="card mb-4" style="background-color: #e0e0e0; border-color: #e0e0e0;">
                <div class="card-body">
                    <div class="form-row justify-content-center">
                        <div class="text-center mb-4">
                            <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
                            <form role="form" method="post" action=".">
                                {% csrf_token %}
                                    <p class="required">
                                        <label class="required" for="id_old_password">Old Password:</label>
                                        <input class="form-control" id="id_old_password" name="old_password" type="password"/>
                                    </p>
                                    <p class="required">
                                        <label class="required" for="id_new_password1">New password:</label>
                                        <input class="form-control" id="id_new_password1" name="new_password1" type="password"/>
                                    </p>
                                    <p class="required">
                                        <label class="required" for="id_new_password2">Re-enter new password:</label>
                                        <input class="form-control" id="id_new_password2" name="new_password2" type="password"/>
                                    </p>
                                <button type="submit" class="btn btn-dark">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}