<!DOCTYPE html>
{% extends 'stack_underflow/base.html' %}
{%load staticfiles %}

<head>
    {% block title_block %}
    {% if reply %}
        {{ reply.thread }}
    {% else %}
        Unknown
    {% endif %}
    {% endblock %}
</head>

{% block body_block %}
    <div class="jumbotron text-left">
        <h1>Add Reply</h1>
    </div>
        <form id="reply_form" method="post" action="/stack_underflow/category/{{ thread.slug }}/add_reply/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <button class="btn btn-outline-dark" type="submit" value="Submit">Reply</button>
        </form>
    </div>
{% endblock %}
