<!DOCTYPE html>
{%extends 'stack_underflow/base.html' %}
{%load staticfiles %}

<html>
<head>
    <title>StackUnderflow</title>
</head>
{% block body_block %}
<div class="row">
    <div class="col-sm-6">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Programming</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Link</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Programming</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Link</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}