<!DOCTYPE html>
{%extends 'stack_underflow/base.html' %}
{%load staticfiles %}

<html>
<head>
    <title>Categories</title>
</head>
{% block body_block %}

<div class="jumbotron text-center">
    <h1>Categories</h1>
    <p class="lead text-muted">Hopefully, you can find a category you are looking for, if not why not add your
        own?</p>
</div>

<div class="container">
    {% if categories %}

    {% for category in categories %}
    <div class="card-body bg-dark">
        <h5 class="card-title text-white">{{ category.name }}</h5>
        <a href="{% url 'stack_underflow:show_category' category.slug %}" class="btn btn-outline-light">Go</a>
    </div>
    <br>
    {% endfor %}

    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
</div>
<br>
<div class="card" style="background-color: #f77959; border-color: #f77959;">
    <div class="text-white">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p>Can't find the category you are looking for....</p>
            <a class="btn btn-outline-light" href="{% url 'stack_underflow:add_category' %}">Add Category</a>
        </div>
    </div>
</div>

{% endblock %}

</html>