<!DOCTYPE html>
{%extends 'stack_underflow/base.html' %}
{%load staticfiles %}

<html>
<head>
    <title>StackUnderflow</title>
</head>
{% block body_block %}
<div class="text-center mb-4">
    <img class="mb-4" src="{% static 'images/logo.jpg' %}" alt="" width="300" height="120">
</div>
<div class="row">
    <div class="col-sm-6">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Cat1</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Link</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Cat2</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Link</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Can't find the category you are looking for....</h5>
                <p class="card-text"></p>
                <a href="{% url 'stack_underflow:add_category' %}" class="btn btn-primary">Add Category</a>
            </div>
        </div>

    </div>
</div>


{% endblock %}

</html>