<!DOCTYPE html>
{% extends 'stack_underflow/base.html' %}
{%load staticfiles %}

<html>
<head>
    {% block title_block %}
        Categories
    {% endblock %}
</head>
{% block body_block %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Categories</h1>
      <p class="lead text-muted">Hopefully, you can find a category you are looking for, if not why not add your own?</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
        <div class="card-columns text-white">
            <div class="card blue text-center p-3 mt-2 mb-3" style="background-color: #000000; border-color: #000000;">
                <div class="card-block">
                <blockquote class="blockquote mb-0 card-body">
                    <p>Category</p>
                </blockquote>
                    <a class="btn btn-outline-light" href="{% url 'stack_underflow:add_category' %}">Add Category</a>
                </div>
            </div>
            <div class="card mb-3 text-center" style="background-color: #f77959; border-color: #f77959;">
                <div class="card-body">
                    <h5 class="card-title text-center">Panel title</h5>
                    <a class="btn btn-outline-light" href="{% url 'stack_underflow:add_category' %}">Add Category</a>
                </div>
            </div>
            <div class="card blue text-center p-3 mt-2 mb-3" style="background-color: #000000; border-color: #000000;">
                <div class="card-block">
                <blockquote class="blockquote mb-0 card-body">
                    <p>Another category</p>
                </blockquote>
                    <a class="btn btn-outline-light" href="{% url 'stack_underflow:add_category' %}">Add Category</a>
                </div>
            </div>
        </div>
    </div>
  </div>
<div class="card" style="background-color: #f77959; border-color: #f77959;">
     <div class="text-white">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p>Can't find the category you are looking for....</p>
            <a class="btn btn-outline-light" href="{% url 'stack_underflow:add_category' %}">Add Category</a>
        </div>
     </div>
</div>

{% endblock %}

