<!DOCTYPE html>
{%extends 'stack_underflow/base.html' %}
{%load staticfiles %}

<html>
<head>
    <title>StackUnderflow</title>
</head>
{% block body_block %}

<div class="text-center mb-4">
    <img class="mt-4" src="{% static 'images/logo.jpg' %}" alt="" width="300" height="120">
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
      {% if user.is_authenticated %}
            <h1 class="display-4">Welcome to StackUnderflow,</h1>
            <h1>{{ user.username }}</h1>
      {% else %}
            <h1 class="display-4">Welcome to StackUnderflow</h1>
      {% endif %}
            <p class="lead">The place to find the answers to all your questions.</p>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-6" style="background-color: #e0e0e0; border-color: #e0e0e0;">
                <div class="card-body">
                    <h2>Most Popular Categories</h2>
                    <p class="card-text">
                        {% if categories %}
                    <ul>
                        {% for category in categories %}
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                     <a href="{% url 'stack_underflow:show_category' category.slug %}"> {{ category.name }}</a>
                                    <span class="badge badge-dark badge-pill">{{ category.threads }}</span>
                                </li>
                            </ul>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no categories present.</strong>
                    {% endif %}
                    </p>
                    <a class="btn btn-outline-dark" href="{% url 'stack_underflow:categories' %}" role="button">Show all Categories</a>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card mb-6" style="background-color: #e0e0e0; border-color: #e0e0e0;">
                <div class="card-body">
                    <h2>Most Popular Threads</h2>
                    <p class="card-text">
                        {% if categories %}
                    <ul>
                        {% for thread in threads %}
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                     <a href="{% url 'stack_underflow:show_thread' thread.slug %}">{{ thread.question }}</a>
                                    <div class="text-muted small mt-1">{{ thread.category }}<a href="" class="text-muted" data-abc="true"></a></div>
                                    <span class="badge badge-dark badge-pill">{{ thread.replies }}</span>
                                </li>
                            </ul>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no threads present.</strong>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

</html>