<!DOCTYPE html>
{%extends 'stack_underflow/base.html' %}
{%load staticfiles %}

<html>
<head>
    <title>StackUnderflow</title>
</head>
{% block body_block %}
<div class="text-center mb-4">
    <img class="mb-4" src="{% static 'images/logo.jpg' %}" alt="" width="300" height="120">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-body">
                    <h2>Most Popular Categories</h2>
                    <p class="card-text">
                        {% if categories %}
                    <ul>
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'stack_underflow:index' %}"> {{ category.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no categories present.</strong>
                    {% endif %}
                    </p>
                    <a class="btn btn-primary" href="{% url 'stack_underflow:add_category' %}" role="button">Add
                        Category</a>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-body">
                    <h2>Most Popular Threads</h2>
                    <p class="card-text">
                        {% if categories %}
                    <ul>
                        {% for thread in threads %}
                        <li>
                            <a href="{% url 'stack_underflow:index' %}"> {{ thread.question }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no threads present.</strong>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

</html>