<!DOCTYPE html>
{%extends 'stack_underflow/base.html' %}
{%load staticfiles %}

<html>
    <head>
        <title>StackUnderflow</title>
    </head>
{% block body_block %}
        <body class="masthead bg-white text-white text-center">
          <div class="container d-flex align-items-center flex-column">

            <img class="masthead-avatar mb-5" src="{% static 'images/logo.jpg' %}" alt="">

              <h1 class="masthead-heading text-uppercase mb-0">Welcome to StackOverflow</h1>


            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                    <div class="divider-custom-line"></div>
             </div>
      <p class="masthead-subheading font-weight-light mb-0">Get answers to all your questions...</p>

          </div>
      </body>
{% endblock %}

</html>