{% extends 'stack_underflow/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Register
{% endblock %}

{% block body_block %}
  <h1>Register for StackUnderflow</h1>
  {% if  registered %}
    <strong>thank you for registering!</strong>
    <a href="{% url 'rango:index' %}">Return to the homepage.</a><br />
  {% else %}
    <strong>register here!</strong><br />
    <form id="sign_Up_Form" method="post" action="{% url 'stack_underflow:register' %}">

          {% csrf_token %}

          {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
          {% endfor %}

          <input type="submit" name="submit" value="Register" />
    </form>
  {% endif %}
{% endblock %}
