<!DOCTYPE html>
{% extends 'stack_underflow/base.html' %}
{% load staticfiles %}

<title>
{% block title_block %}
    {% if thread %}
        {{ thread.question }}
    {% else %}
        No thread present.
    {% endif %}
{% endblock %}
</title>

{% block body_block %}
    {% if thread %}
    <div class="mt-4">
       <h1>{{ thread.question }}</h1>
    </div>
    {% if thread %}
    <ul>
        {% for reply in replies %}
        <div class="card-body card-body-index py-3">
            <div class="row no-gutters align-items-center">
                <div class="col"> <p>{{ reply.text }}</p>
                    <div class="text-muted small mt-1">{{ reply.created_at }}<a href="javascript:void(0)" class="text-muted" data-abc="true"></a></div>
                </div>
                <div class="d-none d-md-block col-4">
                    <div class="row no-gutters align-items-center">
                        <div class="media col-8 align-items-center"> <img src="{% static 'images/logo2.png' %}" alt="" class="d-block ui-w-30 rounded-circle" width="50" height="50">
                            <div class="media-body flex-truncate ml-2">
                                <div class="line-height-1 text-truncate">{{ reply.created_at }}</div> <a href="javascript:void(0)" class="text-muted small text-truncate" data-abc="true">by {{ reply.user }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
    </ul>
    {% else %}
    <strong>No replies, be the first to reply to this question...</strong>
    {% endif %}
		{% if user.is_authenticated %}
    		<a href="/stack_underflow/category/{{ thread.slug }}/add_reply/" class="btn btn-outline-dark">Add a Reply</a> <br />
		{% endif %}
    {% else %}
    	The specified thread does not exist.
    {% endif %}
{% endblock %}