<!DOCTYPE html>
{% extends 'stack_underflow/base.html' %}
{% load staticfiles %}

<title>
{% block title_block %}
	{% if thread %}
		{{ thread.question }}
	{% else %}
		Unkown Thread
	{% endif %}
{% endblock %}
</title>

{% block body_block %}
	{% if user.is_authenticated %}
    <a href="/stack_underflow/category/{{ thread.slug }}/add_reply/" class="btn btn-outline-dark">Add a Reply</a> <br />
	{% endif %}

	{% if thread %}
	<h1>{{ thread.question }}</h1>
		{% if replies %}
	<ul>
		{% for reply in replies %}
		{{ reply.text }} <br />
		{% endfor %}
	</ul>
		{% endif %}
	{% else %}
	<strong> No replies for this thread.</strong>
	{% endif %}

{% endblock %}
