<!DOCTYPE html>
{% extends 'stack_underflow/base.html' %}
{% load staticfiles %}

<title>
{% block title_block %}
	{% if thread %}
		{{ thread.question }}
	{% else %}
		Unkown Thread
	{% endif %}
{% endblock %}
</title>

{% block body_block %}
    <h1>Add a Reply</h1>
    <div>
        <form id="reply_form" method="post" action="/stack_underflow/category/{{ thread.slug }}/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input type="submit" name="submit" value="Reply" />
        </form>
    </div>

	{% if thread %}
	<h1>{{ thread.question }}</h1>
		{% if replies %}
	<ul>
		{% for reply in replies %}
		{{ reply.text }}
		{% endfor %}
	</ul>
		{% endif %}
	{% else %}
	<strong> No replies for this thread.</strong>
	{% endif %}

{% endblock %}
